<section ng-init="employees.fnInitEmployees()">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Employees (LocalStorage)
                <button class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="top" title="Add employee" ui-sref="main.employee({id:'add'})"><i class="glyphicon glyphicon-plus"></i></button>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4" >
            <input type="search" class="form-control" ng-model="searchEmployee" placeholder="Search Employee">
        </div>
    </div>
    <div class="row tab-view margin-top-15">
        <div class="col-lg-12">
            <uib-tabset active="employees.selectedTabIndex">
                <uib-tab class="outline-none" ui-sref="main.employees({view:'grid'})" index="1" heading="Grid View">
                    <div class="row tab-details margin-top-15">
                        <div class="col-lg-12">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 employee-detail" ng-repeat="employee in employees.employees | filter: searchEmployee track by $index">
                                <div>
                                    <i class="glyphicon glyphicon-user employee-image"></i>
                                </div>
                                <div class="row gridLableEmpName">
                                    <span ng-bind="employee.name"></span>
                                </div>
                                <div class=" btn-group btn-group-sm">
                                    <button type="button"  class="btn btn-default"  ng-click="employees.fnModalViewEmployee(employee,'lg')"><i class="glyphicon glyphicon-th-list"></i></button>
                                    <button type="button"  class="btn btn-default"  ui-sref="main.employee({id:employee._id})"><i class="glyphicon glyphicon-edit"></i></button>
                                    <button type="button"  class="btn btn-danger" ng-click="employees.fnRemoveEmployee(employee)"><i class="glyphicon glyphicon-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab class="outline-none" ui-sref="main.employees({view:'list'})" index="2" heading="List View">
                    <div class="row tab-details margin-top-15">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Comapany</th>
                                            <th>Balance</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="employee in employees.employees | filter: searchEmployee">
                                            <td ng-bind="employee._id"></td>
                                            <td ng-bind="employee.name"></td>
                                            <td ng-bind="employee.company"></td>
                                            <td ng-bind="employee.balance"></td>
                                            <td>
                                                <div class="btn-group btn-group-sm">
                                                    <button type="button"  class="btn btn-primary" ui-sref="main.employee({id:employee._id})"><i class="glyphicon glyphicon-edit"></i></button>
                                                    <button type="button"  class="btn btn-danger" ng-click="employees.fnRemoveEmployee(employee)"><i class="glyphicon glyphicon-trash"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th colspan="3">Total</th>
                                            <th colspan="2">{{employees.employees | filter: searchEmployee | TotalBalanceFilter : 'balance' | currency:"":2}}</th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab class="outline-none" ui-sref="main.employees({view:'ui-grid'})" index="3" heading="Ui-Grid View">
                    <div class="row tab-details margin-top-15">
                        <div class="col-lg-12">
                            <div id="employeeGrid" ui-grid="employees.empGridOption" class="myGrid"
                                 ui-grid-auto-resize ui-grid-cellNav ui-grid-move-columns
                                 ui-grid-pinning ui-grid-resize-columns
                                 ui-grid-exporter ui-grid-pagination ui-grid-selection></div>
                        </div>
                     </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>


</section>